
#heading{
    /* border: 3px solid royalblue; */
    display: flex;
    height: 400px;
    margin: 0px;
    padding: 0px;
    /* padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px; */
     background-image: url(/sarah-le-GFIou2AVG3Q-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -100px;
    border-radius: 0px 0px 30px 30px;
}
body{
    padding: 0px;
    margin: 0px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
}
.container{
    display: flex;
    /* border: 2px solid red; */
    /* flex-direction: column;  */
    /* flex-wrap: wrap;*/
    height: 100px;
    align-items: center;
    /* position: fixed; */
    top: 2px;
    /* margin: 0px 0px;
    padding: 0px; */
    background-color: black;
}
#item1{
    /* border: 1px solid green; */
    display: inline-block;
    margin: 0px 0px;
    position: absolute;
    left: 20px;
    color: aliceblue;
    margin: 0px;
    /* width: 25px; */
    /* height: 5px; */
}
#item1 img{
    width: 200px;
    margin-top: 25px;
}
#item2{
    /* border: 1px solid rgb(255, 3, 255); */
    display: flex;
    margin: 10px;
    position: absolute;
    left: 300px;
    right: 300px;
    height: 30px;
    width: auto;
    /* align-items: center; */
    justify-content: center;
}
#item3{
    /* border: 1px solid rgb(14, 65, 4); */
    display: inline-block;
    margin: 10px;
    position: absolute;
    right: 20px;
    width: auto;
    color: aliceblue;
    font-size: 20px;
}
nav{
    /* border: 1px solid rgb(25, 0, 255); */
    margin: 5px;
    /* display: inline-block; */
}
nav a{
    /* border: 1px solid black; */
    margin: 3px 10px;
    color: aliceblue;
    transition: color .5s;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    color: gray; 
    text-decoration: underline;
}
.bigwords{
    font-size: 60px;
    color: aliceblue;
    margin-top: 150px;
    padding-left: 50px;
    /* text-align: center; */
}
.subcontainer{
    /* border: 3px solid white; */
    height: 250px;
}
.subcontainer #widows img{
    position: absolute;
    top: 140px;
    right: 100px;
    width: 200px;
}
.subcontainer #widows1 img{
    position: absolute;
    top: 140px;
    right: 290px;
    width: 200px;
}
.sect{
    /* border: 2px solid rgb(0, 0, 0); */
    margin: 50px 10px;
}
.titles{
    border: 2px solid rgb(147, 236, 147);
    display: inline-block;
    background-color: rgb(147, 236, 147);
    border-radius: 10px;
    margin: 7px;
    padding: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
}
.content1{
    display: flex;
     /* border: 2px solid rgb(103, 211, 238); */
    /*border-radius: 7px;
    background-color: rgb(103, 211, 238); */
    margin: 10px;
    /* flex-direction: column; */
}
/* .content1 img{
    margin: 20px 70px;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664);
    transition: 0.3s;
}
.content1 img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */
#item3{
    position: absolute;
}
.card{
    background-color: rgb(203, 223, 246);
  width: 300px;
  height: 200px;
  margin: 50px;
  /* border: 1px solid red; */
  perspective: 1000px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664);
    transition: 0.3s; */
}
.cardinner{
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
    
}
.card:hover .cardinner{
    transform: rotateY(180deg);
}
.image{
    background-color: rgb(203, 223, 246);
  color: black;
}
.explanation{
    /* background-color: blanchedalmond; */
    color: black;
    /* background-color: rgb(203, 223, 246); */
    transform: rotateY(180deg);
    display: none;
}
.card:hover .explanation{
    display: block;
    /* border: 2px solid black; */
}
.card:hover{
    background-color: blanchedalmond;
}
.card:hover .image{
    display: none;
}
.container1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container5:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card1 {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    padding: 40px;
    text-align: center;
    width:fit-content;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px,1fr)) ;
    grid-gap: 70px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(50px, auto);
  }
  
  .container1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 16px;
    width: 200px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .container2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 16px;
    width: 200px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .container3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 16px;
    width: 200px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .container4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 16px;
    width: 200px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .container5 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 16px;
    width: 200px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
  }